<div class="text-secondary bg-white fixed-bottom">
    <p class="text-center text-primary">
        Développé avec 
            <i class="material-icons text-danger">favorite_border</i> 
        et beaucoup de
            <i class="material-icons text-dark">coffee</i> 
        par Allukard
    </p>
</div>