<div class="text-secondary bg-white mb-0 mt-5">
    <p class="text-center text-primary m-0">
        Creater by Emmanuel Rodriguez with
            <i class="material-icons text-danger">favorite_border</i> 
        and
            <i class="material-icons text-dark">coffee</i>
    </p>
</div>