<div class="text-secondary bg-white fixed-bottom">
    <p class="text-center text-primary">
        Creater by Emmanuel Rodriguez with
            <i class="material-icons text-danger">favorite_border</i> 
        and
            <i class="material-icons text-dark">coffee</i>
    </p>
</div>