<div class="card rounded-pill" style="width: 18rem;">
	<div class="card-body">
		<h5 class="card-title">{{ type.name }}</h5>
		<hr>
		<p class="card-text">
			Total :{{ type.bookmarks|length }}
		</p>
		<a href="/bookmark/{{ type.name }}" class="btn btn-secondary text-primary">Go to
			{{ type.name }}'s page</a>
	</div>
</div>
